.card-wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 3;

  .cards {
    flex-basis: 24%;
    width: 24%;
    border-radius: 50px 0;
    box-shadow: 0 2px 48px rgba(0, 0, 0, 0.08);
    background-color: #D27927;

    .card-logo {
      background-color: #FFFFFF;
      padding: 29px 111px 30.84px 86px;

      .logo1, .logo2, .logo3, .logo4 {
        max-width: 125px;
        width: 100%;
      }
    }

    .card-text-wrapper {
      color: #FFFFFF;

      padding: 13.6px 15px 11px 10px;


      h6 {
        margin-bottom: 14.5px;

        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;

        strong{
          font-weight: 400;
        }
      }

      .card-text {
        padding-bottom: 13.3px;

        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        text-align: justify;
        color: #FFFFFF;
      }

      .card-button {
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        background: #BF6D21;
        border-radius: 20px;
        max-width: 150px;
        width: 100%;
      }
    }
  }

  .cards:last-child {
    margin-right: 0;
  }
}